.searchbox {
    margin-top: 30px;
    margin-bottom: 0px;
}

.controlbar {
    padding-top: 10px;
}

.controlbar span {
    margin: 0px 10px;
}

.search_filter {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}