.silenceListGroup {
    margin-top: 20px;
    font-size: .6em;
}

.silenceItem {
    border-top: 1px solid #c1c1c1;
}

.silenceItem_title {
    font-size: 15px;
}

.silenceItem_detail {
    color: gray;
    font-size: 12px;
}

.sortTableHeader {
    cursor: pointer;
}

.linkImg {
    max-width: 100%;
    max-height: 20px;
}

.custom_btn {
    margin-right: 10px!important;
    width: 100px!important;
}