body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn {
    border-radius: 1px;
}

.btn-secondary {
    background-color: #373C42;
}

.full-size {
    padding: 0;
    margin: 0;
}