.loadingbox {
    text-align: center;
}

.ldsellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.ldsellipsis div {
    position: absolute;
    top: 27px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #343a40!important;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsellipsis div:nth-child(1) {
    left: 6px;
    animation: ldsellipsis1 0.6s infinite;
}

.ldsellipsis div:nth-child(2) {
    left: 6px;
    animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(3) {
    left: 26px;
    animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(4) {
    left: 45px;
    animation: ldsellipsis3 0.6s infinite;
}

@keyframes ldsellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ldsellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes ldsellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}