.detail_box {
  margin-top: 40px;
  padding: 20px;
  margin: auto;
  width: 90%;
}

.key {
  display: inline-block;
  font-weight: bold;
  width: 10%;
  text-transform: capitalize;
  font-size: small;
}

.title {
  font-weight: bold;
}