.silence_box {
    margin-top: 40px;
    padding: 20px;
    margin: auto;
    width: 90%;
}

.title {
    font-weight: bolder;
    padding: 10px 0 0;
    border-bottom: 1px solid #e4e4e4;
}

.matcherbox {
    padding: 15px 0;
}