.footer {
    height: 80px;
    background-color: #f5f5f5;
    padding-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
    font-size: small;
}

.footer_title {
    font-size: 14px;
    font-weight: 700;
    padding: 1.5em 0 1em;
    text-transform: uppercase;
    float: right;
}

.pull_right {
    float: right;
}

.footer_description {
    float: right!important;
    color: rgba(0, 0, 0, .5);
    padding-right: 0;
    padding-left: 1.5em;
}

.link {
    float: right!important;
    color: #2389d7;
    cursor: pointer;
    text-decoration: none;
    word-break: break-word;
}